@import '../../constants/variables.scss';

.sidebar {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  width: $sidebar-width;
  background: $white;
  transition: $slow-all-transition;

  & ~ .navbar {
    .menu-icon {
      right: -$sidebar-width;
      transition: $slow-all-transition;
    }
  }

  &.close {
    width: $sidebar-hidden-width;
    transition: $slow-all-transition;

    & ~ .navbar {
      width: calc(100% - #{$sidebar-hidden-width});
      transition: $slow-all-transition;

      .navbar-logo {
        @include max-lg {
          margin-left: -28px;
          transition: $slow-all-transition;
        }
      }

      .menu-icon {
        right: 0;
        transition: $slow-all-transition;
      }
    }

    .sidebar-item {
      &:hover {
        .sidebar-item-link {
          visibility: visible;
          opacity: 1;
          position: absolute;
          top: 50%;
          transform: translate(0%, -50%);
          left: $sidebar-hidden-width;
          background: $white;
          padding: 0.5rem 1rem;
          border-radius: 0 10px 10px 0;
        }
      }

      .sidebar-item-link {
        visibility: hidden;
        position: absolute;
        opacity: 0;
      }
    }

    .sidebar-header {
      & .sidebar-toggle {
        justify-content: center;
        margin: 0;
      }
    }
  }

  .sidebar-header {
    height: $navbar-height;
    display: flex;

    & .sidebar-toggle {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 30px;
      width: 100%;
      height: 100%;
      cursor: pointer;

      i {
        font-size: 30px;
        color: $accent;
      }
    }
  }

  .sidebar-links {
    height: 100%;
    padding: 0;
    margin: 0;
    padding-top: 30px;
  }
}
