@import '../../constants/variables.scss';

.main-logo {
  color: $accent;
  cursor: pointer;

  &.navbar-logo {
    justify-self: start;
    margin: 0;
    margin-left: 20px;
    transition: $slow-all-transition;
  }
}
