@import './constants/variables.scss';

html {
    height: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $light-gray;
    font-family: $text-font;
    -webkit-tap-highlight-color: transparent;
}

h1 {
    font-family: $main-font;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: $second-font;
}

a {
    text-decoration: none;
    color: $accent;
}